#change-color {
  width: 100px;
  height: max-content;
  background-color: black;
  color: white;
}

#change-color-array {
  width: 100px;
  height: max-content;
  background-color: black;
  color: white;
}

#name > span {
  background-color: aquamarine;
}

#my-name {
  height: 25px;
  text-align: center;
  display:block;
}

.block {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid black;
}