#change-color {
  width: 100px;
  height: max-content;
  background-color: black;
  color: white;
}

#change-color-array {
  width: 100px;
  height: max-content;
  background-color: black;
  color: white;
}

#my-name {
  background-color: aquamarine;
  height: 25px;
  text-align: center;
  display:block;
}